---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Us" description="Information on GrantBin Hub.">
    <article class="mt-[10vh] mx-auto max-w-[585px]">
        <h1>About GrantBin Hub</h1>

        <p class="indent-4 mb-[2em]">
            <b
                >GrantBin Hub is a service that provides viewing of GrantBin
                Repositories.</b
            > The default repository makes GrantBin Hub a website for downloading
            many kinds of applications/modifications for many platforms and use cases,
            while manually reviewing each submissions to prevent uploading of harmfull
            software.
        </p>

        <p class="indent-4 mb-[2em]">
            The idea started as a simple hoster for virus-free software. Next
            came ideas such as the ability to change repositories, ad-freenes,
            etc. But probably the best idea was to not attempt at gaining money
            from the site. However, this means creators have to rely on
            donations instead of some fancy monitization system.
        </p>
    </article>
</MainLayout>
